.signUpLoginContainer{
    position: relative;
    width: 70%;
    border-radius: 1rem;
    height: 67%;
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.69);

    display: flex;
    flex-direction: row;

    overflow: hidden;
}
input{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-top: 0.2rem;
}
button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
    border-radius: 2rem;
    font-size: 1.2rem;
}
button:hover{
    cursor: pointer;
}
.usernameContainer, .passwordContainer, .confirmPasswordContainer{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.passwordContainer, .confirmPasswordContainer{
    margin-top: 1rem;
}
.loginButtonContainer{
    margin-top: 3rem;
}